


.nav{
    display: flex;
    justify-content: space-between;
    margin: 30px;

}

.nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    
}
.nav ul li a{
    text-decoration: none;
    color: black;
}

.conexion{
    color: white;
    font-size: 20px;
    background-color: hwb(19 32% 7%);
    text-align: center;
    font-size: x-large;
    padding: 20px;
   margin-bottom: 0;
}
.section-img{
    padding: 80px;
    background-color: #034f89
    
    
}
.img{
   
    margin-left: 50%;
    margin-top: -5%;
    
   
}
.form {
    width: 350px;
    background-color: beige;
   position: absolute;
   top: 30%;
   margin-left: 50px;
   padding: 80px;
}
.bien{
    margin-top: -15%;
    color: #034f89;
    font-size: 30px;
    text-align: center;
   
}
.cont{
    color: #0a0b0c;
    font-size: 20px;
    text-align: center;
    margin-top: -15%;
   
}
 .email , .pass{
    
    width: 100%;
    height: 20px;
 }

 .sub{
    background-color: blue;
    padding: 5px;
    color: white;
    border: none;
   margin-left: 290px;
 }
 #connecter{
    text-align: center;
    font-size: small;
 }

 
 .compt{
    text-align: center;
    font-size: small;

 }

.checkbox{
    text-decoration: none;
    margin: 20px;
    color: blue;
}